<footer><div class="container">Made with love by <a href="http://yoanante.com">Yoan Ante</a> and <a href="https://rubyonrails.org/">Ruby on Rails</a> Copyright &copy; <%=Time.now.year%></div></footer>